/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

body{
  margin: 20px;
}

.container{
	width: 880px;
	margin: auto;
}

header {
	padding: 20px 20px 20px;
}

h1{
  font-size: 25px;
}

nav {
	display: inline-flex;
	width: 75%;
}
nav a {
	color: grey;
	text-decoration: none;
	padding: 0 25px 0px;
}

/* .intro-container {
	text-align: center;
	/* border: 3px solid green;
}
 */

.container-1 {
	/* border: 4px dashed red; */
/* 	display: inline-block; */
/* 	width: 450px; */
	padding: 0px, 40px;
 
}

.services{
  margin: 20px;
}

.container-2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.content {
	width: 45%;
	display: flex;
  flex-direction: column;
	padding: 20px 10px 10px 20px;
  margin: 10px;
  border: 1px solid black;
  background: #e6e6e6;
}

.button {
	padding: 5px 40px 5px;
	border: 1px solid black;
  border-radius: 8px;
	font-family: 'Titillium Web';
  display: flex;
  width: 165px;
  background-color: white;
  margin: 10px;
}

header p {
	text-align: center;
	border: 1px solid black;
	width: 150px;
}

.container-3{
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.container-3 p{
  padding: 10px;
}

.container-3 ul{
  list-style-type: square;
  padding: 10px;
  margin: 5px;
}

.container-3 li{
  padding: 3px;
}

footer p {
	text-align: center;
  padding: 10px;
}